.footer__data {
    font-family: "Inter", "Arial", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;
}

@media screen and (max-width: 700px) {
    .footer__data {
        margin-left: 19px;
        font-size: 14px;
        line-height: 17px;

    }
}